{% extends 'main/layout.html' %}
{% block title %}Профиль{% endblock %}
<title>{{ title }}</title>
{% block content %}
	<div class="container profiles">
		<div class="box reg">
			<div class="name">
				<h2>
					Аккаунт
				</h2>
			</div>
			<div class="box--profile">
				<div class="row profile">
					<nav>
						<div class="text">
							<ul>
								<li><a href="#">Профиль</a></li>
								<li><a href="#">Сделки</a></li>
							</ul>
						</div>
					</nav>
					<hr	color="gray" width="600">
					<div class="box--information">
					{% for i in inf %}
						<ul>
							<li><b>Ваш Логин</b></li>
							<li class="textNotWieght">{{ i.username }}</li>
							<li><b>Ваша Почта</b></li>
							<li class="textNotWieght">{{ i.email }}</li>
							<li><b>Ваша фотография</b></li>
							<li class="photo--profile">csd</li>
						</ul>
					{% endfor %}
					</div>
					<button value="Настроить" class="settings--profile">Настроить</button>
					<p class="id_vhod log out"><a href="{% url 'logout' %}">Выйти</a></p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}