{% extends 'main/layout.html' %}
{% block title %}Login{% endblock %}

{% block content %}
	<div class="container login">
		<div class="name">
			<h2>Вход</h2>
		</div>
  	<form class="kirill" method="post">
        {% if form.errors %}
    <p>Ваш логин или пароль не правильный. Попробуйте ещё раз</p>
    {% endif %}
			{% csrf_token %}
			<table class="sumbit">
				{{ form.as_p }}
				<tr>
					<td><input class="button" type="submit" value="Войти в Лику"></td>
				</tr>                
			</table>
		</form>
	</div>

{% endblock %}