{% extends 'main/layout.html' %}
{% block title %}Login{% endblock %}

{% block content %}
	<div class="container login">
		<div class="name">
			<h2>Вход</h2>
		</div>
  	<form class="kirill" method="post">
        {% if form.errors %}
    <p id="error__name">Ваш логин или пароль неверный. Попробуйте ещё раз!</p>
    {% endif %}
			{% csrf_token %}
			<table class="sumbit">
				<div id="user__input__login">{{ form.as_p }}</div>
				<tr>
					<td><input class="button" type="submit" value="Войти"></td>
				</tr>                
			</table>
		</form>
	</div>

{% endblock %}