{% extends "main/layout.html" %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="reg features">
{#    <h2>Регистрация</h2>#}

<form method="post">
    {% csrf_token %}
    <tr>
        <td>{{ form.email.help_text}}</td>
        <td>{{ form.email }}</td>
    </tr>
    <tr>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password }}</td>
    </tr>
    <tr>
        <td>{{ form.first_name }}</td>
    </tr>
    <tr>
        <td>{{ form.last_name }}</td>
    </tr>

    <div class="sign">
        <br><button class="btn btn-success" type="submit">Зарегистрироваться</button>
    </div>

    <br>
    <br>
{#    <input type="submit" value="Зарегистрироваться ">#}
</form>
{#    <div class="sig">#}
{#        <a href="{% url 'login' %}">Войти</a><br>#}
{#        <a href="{% url 'home' %}">На главную</a>#}
{#    </div>#}

{% endblock %}
</div>
