{% extends "main/layout.html" %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container reg">
	<div class="box reg">
		<div class="name">
			<h2>Регистрация</h2>
		</div>
		<div class="box--reg">
			<form method="post">
				{% csrf_token %}
				<tr>
						<td>{{ form.email.help_text}}</td>
						<td>{{ form.email }}</td>
				</tr>
				<tr>
						<td>{{ form.username.help_text }}</td>
						<td>{{ form.username }}</td>
				</tr>
				<tr>
						<td>{{ form.first_name.help_text }}</td>
						<td>{{ form.first_name }}</td>
				</tr>
				<tr>
						<td>{{ form.last_name.help_text }}</td>
						<td>{{ form.last_name }}</td>
				</tr>
				<tr>
						<td>{{ form.password1.label_tag }}</td>
						<td>{{ form.password1 }}</td>
				</tr>
				<tr>
					<td>{{ form.password2.label_tag }}</td>
					<td>{{ form.password2 }}</td>
			</tr>
		
		
				<button class="btn btn-success" type="submit">Зарегистрироваться</button>
				<p class="id_vhod">Есть аккаунт? <a href="http://127.0.0.1:8000/accounts/login/">   Войти</a></p>
	
		{#    <input type="submit" value="Зарегистрироваться ">#}
			
		</form>
		{#    <div class="sig">#}
		{#        <a href="{% url 'login' %}">Войти</a><br>#}
		{#        <a href="{% url 'home' %}">На главную</a>#}
		{#    </div>#}
		</div>
	</div>
</div>


{% endblock %}



