{% extends "main/layout.html" %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container reg">
	<div class="box reg">
		<div class="name">
			<h2>Регистрация</h2>
		</div>
		<div class="box--reg">
			<form method="post" enctype="multipart/form-data">
            {% csrf_token %}

                {% for f in form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label}} </label>{{ f }} </p>
{#                    {{ f.as_p }}#}

                {% endfor %}
				<button class="btn btn-success" type="submit">Зарегистрироваться</button>
				<p class="id_vhod">Есть аккаунт?<a href="http://127.0.0.1:8000/account/login/"> Войти</a></p>

		{#    <input type="submit" value="Зарегистрироваться ">#}
			
		</form>
		{#    <div class="sig">#}
		{#        <a href="{% url 'login' %}">Войти</a><br>#}
		{#        <a href="{% url 'home' %}">На главную</a>#}
		{#    </div>#}
		</div>
	</div>
</div>


{% endblock %}



