{% extends 'main/layout.html' %}
{% block title %}Главная{% endblock %}
<title>{{ title }}</title>
{% block content %}
<header>
			<header>
				<div class="container headmain main">
					<div class="text">
						<div class="name">
							<h1>Купить Любимые Книги Можно Здесь!</h1>
						</div>
						<div class="opis">
							<p>Хотели себе книгу? А денег нет? Тогда вы к нам!
								У нас огромный ассортимент книг! И низкие цены! 
								Магазины только в Пензе. Но вы 
								можете преобрести книги в интернет-магазине 
							</p>
								<p id="p10"><b>Ждем тебя у нас!</b</p>
						</div>
					</div>
				</div>
			</header>
			<section id="about">
				<div class="container">
					<div class="text">
						<div class="name">
							<h2>
								О нас
							</h2>
						</div>
							<div class="block">
								<div class="block small">
									<div class="name">
										<h3>Стаж</h3>
									</div>
									<div class="text">
										Мы работает уже 20 лет! 
										У нас нет ни одного отрицателтного клиента! 
										Мы предоставляем услуги по всей стране! 
										Именно мы достоины для вашего интереса!
									</div>
								</div>
								<div class="block small">
									<div class="name">
										<h3>Стаж</h3>
									</div>
									<div class="text">
										Мы работает уже 20 лет! 
										У нас нет ни одного отрицателтного клиента! 
										Мы предоставляем услуги по всей стране! 
										Именно мы достоины для вашего интереса!
									</div>
								</div>
								<div class="block small">
									<div class="name">
										<h3>Стаж</h3>
									</div>
									<div class="text">
										Мы работает уже 20 лет! 
										У нас нет ни одного отрицателтного клиента! 
										Мы предоставляем услуги по всей стране! 
										Именно мы достоины для вашего интереса!
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="port">
				<div class="container">
					<div class="text">
						<div class="name">
							<h2>
								Портфолио
							</h2>
						</div>
						<div class="block">
							<div class="block img">
								<img class="photo" src="#" alt="Фотографии наших дел">
								<img class="photo" src="#" alt="Фотографии наших дел">
								<img class="photo" src="#" alt="Фотографии наших дел">
							</div>
							<div class="block img">
								<img class="photo" src="#" alt="Фотографии наших дел">
								<img class="photo" src="#" alt="Фотографии наших дел">
								<img class="photo" src="#" alt="Фотографии наших дел">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="usl">
				<div class="container">
					<div class="text">
						<div class="name">
							<h2>
								Наши услуги
							</h2>
						</div>
						<div class="uslugi left">
							<h3>
								1
							</h3>
							Помогаем Вам приобрести книгу по низкой цене!
						</div>
						<div class="uslugi center">
							<h3>
								2
							</h3>
							Помогаем продать Вашу книгу!
						</div>
						<div class="uslugi right">
							<h3>
								3
							</h3>
							Делаем все быстро и безопасно!
						</div>
					</div>
				</div>
			</section>
		</main>
  </body>
{% endblock %}

