body{
	background-color:rgb(95, 78, 78);
}

*{
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	background-color:rgb(200, 175, 175);
}

.head{
	background-color:rgb(158, 130, 130);
}

.row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.head{
	height: 100%;
	height: 70px;
}

.name{
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	text-align: center;
	padding: 8px 40px;
}

.name a{
	color: black;
	text-decoration: none;
}

.text{
	font-size: 23px;
	font-family: 'Fira Sans', sans-serif;

}

.row ul{
	display: flex;
	list-style-type: none;
	margin-right: 20px;
}
.row ul li{
	padding: 0 20px;
	text-align: center;
	transition: all .3s ease-in-out;
}

.row ul li a{
	text-decoration: none;
	color: rgb(26, 23, 23);
	font-size: 20px;
	opacity: 0.5;
	transition: all .3s ease-in-out;
}

.row ul li a:hover{
	text-align: center;
	opacity: 1;
	font-size: 21.5px;
	cursor: pointer;
	padding: 0 20px;
	text-decoration: underline;
}

.row nav{
	align-self: center;
}

.name h1{
	font-size: 40px;
	padding:20px 0;
}

.name h2{
	font-size: 35px;
	width: 1100px;
	padding: 20px 0;
	padding-top: 40px;
	padding-left: 10px;
}

.main{
	background-image:url(../image/book.jpg);
	background-size: cover;
}

.opis{
	text-align: center;
	width: 900px;
	margin:0 auto;
}

.opis #p10{
	padding: 10px 0;
}

.main .text{
	color: aliceblue;
	padding: 70px 0;
}

.name h3{
	padding: 20px auto;
	font-size: 20px;
}

.name div{
	font-size: 20px;
}

.block .small{
	width: 300px;
	height: 300px;
	padding: 10px 25px;
}

.block{
	display: inline-block;
}

.photo{
	width: 300px;
	height: 400px;
	background-color: black;
	margin-top:20px;
	margin-left: 94px;
}


.uslugi{
	display: flex;
	margin-top: 30px;
}

.center{
	justify-content: center;
}

.right{
	justify-content: right;
	margin-right: 50px;
	padding-bottom: 50px;
}

.left{
	justify-content: left;
	margin-left: 50px;
}

.uslugi h3{
	background-color: rgb(230, 207, 3);
	border-radius: 100%;
	padding-left:8px;
	width: 22px;
	height: 30px;
	margin-right: 25px;
}


footer .container{
	background-color: rgb(52, 43, 43);
	max-height: 195px;
}

footer .text{
	padding:25px 30px;
	font-size: 25px;
}

footer ul li{
	list-style-type: none;
	margin: 5px 0;
}

footer ul li a{
	text-decoration: none;
	color: rgb(150, 139, 119);
	opacity: 0.7;
	transition: all .3s ease-in-out;
}

footer ul li a:hover{
	text-decoration: none;
	color: rgb(200, 183, 153);
	opacity: 1;
	font-size: 27px;
	margin: 5px 0;
}

input#id_password1,
input#id_password2,
input#id_password,
input#id_email,
input#id_username,
input#id_first_name,
input#id_last_name{
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 5px 0;
	transition: all .3s ease-in-out;
	font-size: 16px;
}

.container .reg{
	height: 800px;
}

.box--reg{
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 23px;
	font-family: 'Fira Sans', sans-serif;
	background-color: rgb(227, 233, 239);
	width: 400px;
	height: 420px;
	margin: 10px auto;
	padding: 20px 0;
	box-shadow: 0 0 100px rgb(79, 78, 78);
}

.login{
	display: flex;
  justify-content: flex-start;
  text-align: center;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
	height: 450px;
	width: 450px;
}



body > div > div > div.box--reg > form > button,
input[type="submit" i] {
	padding: 5px 10px;
	margin: 20px auto;
	margin-bottom: 10px;
	background-color: transparent;
	border: none;
	font-size: 22px;
	transition: all .3s ease-in-out;
	color: rgb(253, 165, 0) ;
}

input[type="submit" i]{
	font-size: 24px;
	margin-bottom: 25px;
	margin-top: 30px;
}

body > div > div > div.box--reg > form > button:hover,
input[type="submit" i]:hover{
	text-shadow: 0 0 20px rgb(255, 181, 43);
	font-size: 26px;
	cursor: pointer;
}


input#id_password1:focus,
input#id_password2:focus,
input#id_password:focus,
input#id_email:focus,
input#id_username:focus,
input#id_first_name:focus,
input#id_last_name:focus{
	font-size: 18px;
	box-shadow: 0 0 20px rgb(190, 171, 171);
}

.id_vhod{
	text-align: center;
	margin: 20px auto;
	font-size: 20px;
	display: flex;
	justify-content: center;
	padding: 0 3px;
}

.id_vhod a{
	text-decoration: none;
	font-size: 20px;
	transition: all .3s ease-in-out;
	color: rgb(253, 165, 0);
}


.id_vhod a:hover{
	text-shadow: 0 0 20px rgb(255, 181, 43);
	font-size: 21px;
	cursor: pointer;
	text-align: center;
	padding: 0 10px;
}

.error--login{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 350px;
	margin: 0 auto
}

.log{
	margin: 10px auto;
	padding: 0;
}

.login table,
.login table tr{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 10px;
}

.box--profile{
	display: flex;
	font-size: 23px;
	font-family: 'Fira Sans', sans-serif;
	background-color: rgb(227, 233, 239);
	width: 400px;
	height: 420px;
	margin: 40px auto;
	padding: 20px 0;
	box-shadow: 0 0 100px rgb(79, 78, 78);
}


.profile{
	flex-direction: column;
	justify-content:unset;
}

 .box--information{
	width: 300px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgb(79, 78, 78);
	background-color: rgb(193, 198, 203);
}